<div class="flex flex-col space-y-16">
  <div class="flex flex-col space-y-4">
    <h1 class="text-4xl font-bold">Stickies</h1>
    <p class="text-lg font-light">
      Just a small Rails app, to see if we can some add some colour behaviour to stickies.
    </p>
  </div>

  <div class="grid grid-cols-3 gap-12">
    <% @stickies.each do |sticky| %>
      <div data-controller="sticky">
        <div class="h-64 p-6 bg-<%= sticky.color %>-100 shadow-lg" data-id="<%= sticky.id %>" data-sticky-target="background">
          <div class="flex justify-end h-12">
            <div data-action="click->sticky#change_color" class="w-5 h-5 bg-<%= sticky.next_color %>-300 border-2 border-gray-700 rounded-full" data-sticky-target="selector">
            </div>
          </div>
          <div class="text-lg font-medium">
            <p><%= sticky.message %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
